
<form {{action 'saveVehicle' on='submit'}}>
    <label>Marka:
        <select onchange={{action "changedMark" value="target.value"}}>
            {{#each marks as |mark|}}
                <option value={{mark.id}} selected={{eq mark.id vehicle.mark.id}}>{{mark.name}}</option>
            {{/each}}
        </select>
    </label>
    <label>Nazwa: {{input type='text' value=model.name}}</label>
    <label>Kolor: {{input type='text' value=model.color}}</label>
    <label>Ilość miejsc:{{input type='number' value=model.places}}</label>

    {{input type='submit' value='Zapisz' class="btn-main"}}
</form>

{{outlet}}
